body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}
h1 {
    color: #2c3e50;
    text-align: center;
    margin-top: -30px;
    position: sticky;
}
h2 {
    color: #34495e;
    margin-top: 30px;
}
div {
    margin: 10px 0;
}


.head{
    background-color: #7cbeff;
    
}